footer {
    background-color: #0a2639;
    padding: 40px;
    font-size: 80%;
    position: relative;
    left:0;
    bottom:0;
    right:0;
}
.row {
    background-color: #0a2639;
}
.room__icon {
    color: #fff;
    margin-top: -10px;
    margin-bottom: -5px;
    margin-right: -10px;
}
.footer-nav {
    list-style: none;
    float: left;
}
.social-links {
    list-style: none;
    float: right;
}
.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}
.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
}
.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}
.social-links li a:link,
.social-links li a:visited {
    font-size: 100%;
}
.facebook:hover {
    color: rgb(52, 73, 255);
}
.twitter:hover {
    color: rgb(68, 187, 255);
}
.youtube:hover {
    color: rgb(255, 44, 44);
}
.instagram:hover {
    color: rgb(255, 85, 227);
}
.facebook,
.twitter,
.youtube,
.instagram {
    transition: color 0.2s;
}
footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}